html {
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
	margin: 0;
	user-select: none;
}

h1 {
	font-size: 30px;
	text-align: center;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	margin: 0;
	padding: 9px 0;
	background: #e4f3fd;
}

.section-content {
	margin: 15px;
}

.content-input {
	margin: 10px;
	font-size: larger;
	font-weight: 16px;
	font-style: italic;
	color: #051738;
}

input[type="date"] {
	width: 180px;
	padding: 8px;
	font-size: 16px;
	border: 2px solid #1e6299;
	border-radius: 5px;
	background-color: #f1f5f8;
	color: #333;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="date"]:focus {
	border-color: #66afe9;
	outline: none;
	box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.content-btn-enviar{
	margin-top: 20px;
	text-align: center;
}

.btn-enviar{
	width: 200px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 50px;
	background: rgb(136 187 227);
	outline: none;
	border: 0;
	border-radius: 5px;
}

.btn-enviar:active {
	background: #5ab4f8;
	box-shadow: 0 0 10px #4f94c9;
}

select {
	width: 200px; /* Ancho del select */
	padding: 8px; /* Relleno interno */
	font-size: 16px; /* Tamaño de la fuente */
	border: 2px solid #1e6299; /* Borde con color */
	border-radius: 5px; /* Bordes redondeados */
	background-color: #f1f5f8; /* Color de fondo */
	color: #333; /* Color del texto */
	outline: none; /* Elimina el contorno al enfocar */
	cursor: pointer; /* Cambia el cursor al pasar por encima */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select:focus {
	border-color: #66afe9;
	box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.content-2 {
	margin-top: 5px;
	display: none;
}

.btn-show, .btn-hidden {
	width: 35px;
	font-size: 23px;
	border-radius: 5px;
	border: 1px solid #1e6299;
	box-shadow: 0 0 2px 0.1px #1e6299;
}

.btn-show:active, .btn-hidden:active {
	background-color: #81b2e9;
	box-shadow: 0 0 3px 0.3px #1e6299;
}
